// Page wrapper
.faq {
  max-width: var(--content-max-width);
  margin: 0px auto;
  padding: 15px 20px;
}

// FAQ Item
.faq__item {
  h3 {
    font-size: 22px;
    border-bottom: 1px solid currentColor;
    margin: 20px 0px 0px 0px;
    display: inline-block;
  }

  p {
    font-size: 20px;
    margin: 20px 0px;

    a {
      &:hover {
        text-decoration: underline;
      }
    }

    &:nth-of-type(1) {
      margin-top: 10px;
    }
  }
}
