.home__cta {
  max-width: var(--content-max-width);
  margin: 0px auto;
  padding: 15px 20px;
  text-align: center;

  h1 {
    font-size: 5rem;
    margin: 1rem 0;

    small { 
      display: block;
      font-size: 25%;
    }
  }

  p {
    font-size: 22px;
    margin: 0px;
  }

  ul {
    list-style-type: none;
    margin: 1.5rem auto 3rem auto;
    padding: 0px;

    li {
      display: inline-block;
      margin: 0px 10px;

      a {
        font-size: 22px;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

.home__feature {
  padding-top: 40px;
  text-align: center;

  > span {
    display: block;
    font-size: 18px;
    padding: 1rem 0 .5rem;
  }
}

.home__bag {
  display: inline-block;
  vertical-align: top;
  margin: 15px;
  color: var(--color-mid-green);
  transition: transform 300ms ease-in-out;

  &:hover {
    transform: translateY(-8px);
  }
}

.home__bag_attributes {
  background-color: var(--color-light-green);
  width: 400px;
  height: 400px;
  position: relative;

  > span {
    position: absolute;
    right: 10px;
    top: 10px;
  }

  ul {
    list-style-type: none;
    margin: 0px;
    padding: 20px;
    text-align: left;

    li {
      margin: 5px 0px;

      span {
        font-size: 20px;
      }
    }
  }
}

// Responsive
@media screen and (max-width: 850px) {
  .home__cta {
    p {
      br {
        display: none;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .home__bag_attributes {
    width: 300px;
    height: 300px;
    position: relative;

    ul {
      li {
        span {
          font-size: 16px;
        }
      }
    }
  }
}
