.home__cta {
  max-width: var(--content-max-width);
  margin: 0px auto;
  padding: 15px 20px;
  text-align: center;

  h1 {
    font-size: 3.5rem;
    margin: 1rem 0 1.5rem;

    @media (min-width: 640px) { 
      font-size: 5rem;
    }

    small { 
      display: block;
      font-size: 27.5%;
    }
  }

  p {
    font-size: 22px;
    line-height: 1.25;
    margin: 0px;
  }

  p + p {
    margin-top: 1.5rem;
  }

  ul {
    list-style-type: none;
    margin: 1.5rem auto 3rem auto;
    padding: 0px;

    li {
      display: inline-block;
      margin: 0px 10px;

      a {
        color: var(--color-black);
        font-size: 22px;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

.home__feature {
  padding-top: 40px;
  text-align: center;

  > span {
    display: block;
    font-size: 18px;
    padding: 1rem 0 .5rem;
  }
}

.home__bag {
  display: inline-block;
  vertical-align: top;
  margin: 15px;
  color: var(--color-mid-green);
  transition: transform 300ms ease-in-out;

  &:hover {
    transform: translateY(-8px);
    text-decoration: none;
  }
}

.home__bag_attributes {
  background-color: var(--color-light-green);
  width: 400px;
  height: 400px;
  position: relative;

  > span {
    position: absolute;
    right: 10px;
    top: 10px;
  }

  ul {
    list-style-type: none;
    margin: 0px;
    padding: 20px;
    text-align: left;

    li {
      margin: 5px 0px;

      span {
        font-size: 20px;
      }
    }
  }
}

// Responsive
@media screen and (max-width: 850px) {
  .home__cta {
    p {
      br {
        display: none;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .home__bag_attributes {
    width: 300px;
    height: 300px;
    position: relative;

    ul {
      li {
        span {
          font-size: 16px;
        }
      }
    }
  }
}

.home_description { 
  padding-top: 3rem;

  h2 {
    margin-bottom: 0;
    text-align: center;
  }

  p {
    font-size: 1.25rem;
  } 

  blockquote { 
    border-left: 3px solid var(--color-light-green);
    padding: .25rem 1.5rem;
  }
}

.home__description_lede {
  font-size: 1.35rem !important;
  margin-bottom: 3rem;
  margin-top: 1rem;
  text-align: center;
}

.home__cta { 
  margin-top: 3rem;
}

p.home__cta_promo { 
  background: linear-gradient(90deg, #ff0055 0%, #580184 100%);
  font-size: 1.5rem;
  margin-bottom: 2rem;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}