.resources {
  max-width: var(--content-max-width);
  margin: 0px auto;
  padding: 15px 20px;

  p {
    font-size: 20px;
    margin: 0px auto;
  }

  ul {
    li {
      p {
        margin: 15px 0px;

        a {
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}
