// Header
.header {
  max-width: var(--content-max-width);
  margin: 0px auto;
  padding: 15px 20px;

  // Alignment
  display: flex;
  justify-content: space-between;
  -webkit-box-pack: justify;
  align-items: center;
  flex-direction: column;

  @media (min-width: 400px) { 
    flex-direction: row;
  }

  > div {
    width: auto;
    flex: 1 1 50%;
    display: flex;
    align-items: center;
  }
}

.header__logo {
  margin-bottom: 1rem;

  @media (min-width: 400px) {
    margin-bottom: 0;
  }

  a {
    font-size: 24px;
    transition: 50ms ease-in-out;

    &:hover {
      opacity: 0.8;
    }
  }
}

.header__links {
  justify-content: flex-end;

  ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;

    li {
      display: inline-block;

      &:not(:first-of-type) {
        margin-left: 1.5rem;
      }

      a {
        font-size: 18px;

        &:hover {
          text-decoration: underline;
        }
      }

      &:nth-last-of-type(1) {
        margin-right: 0px;
      }
    }
  }
}

.header__links_active {
  text-decoration: underline;
}

.footer {
  padding: 3rem 0 1.5rem;
  text-align: center;

  p {
    > a {
      text-decoration: underline;
    }
  }
}
