//
// Custom Properties
// -----------------

:root { 
  // Color Scheme
  --color-black: #1f1f1f;
  --color-white: #ffffff;

  --color-dark-green: #1f2e1f;
  --color-mid-green: #64A925;
  --color-light-green: #E0FBD2;

  // Colors in Context
  --color-text: var(--color-dark-green);
  --color-link: var(--color-mid-green);

  // Fonts
  --font-primary: "EB Garamond", serif, sans-serif;

  // Layout
  --content-max-width: 800px;
}


//
// Global
// ------

html,
body {
  background-color: var(--color-light-green);
  color: var(--color-text);
  font-family: var(--font-primary);
  margin: 0;
  padding: 0;
}


//
// Typography
// ----------

a {
  color: var(--color-link);
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-mid-green);
  font-weight: normal;
}

h1 { 
  line-height: 1.25;
}

h2 { 
  font-size: 2.5rem; 
}


//
// Layout
// ------

.container { 
  margin-left: auto;
  margin-right: auto;
  max-width: var(--content-max-width);
  padding-left: 1rem;
  padding-right: 1rem;
}